#campaign-show-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#campaign-show-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    margin-top: 50px;
    background-color: rgba(95, 95, 207, 0.539);
    border-radius: 10px;
    color: whitesmoke;
    padding: 20px 20px;
}

#campaign-show-container h1 {
    margin: 1rem 0;
    color: whitesmoke;
    background-color: rgba(95, 95, 207, 0.539);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#campaign-show-container ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

#campaign-show-container ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(95, 95, 207, 0.539);
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 1.5em;
}

legend {
    font-size: 1.5em;
    color: whitesmoke;
    background-color: rgba(95, 95, 207, 0.539);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

button {
    background-color: rgba(95, 95, 207, 0.539);
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
    font-size: 1.5em;
    cursor: pointer;
}