#campaign-update-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#campaign-update-wrapper h1 {
    font-size: 3rem;
    margin: 1rem 0;
    color: whitesmoke;
    background-color: rgba(95, 95, 207, 0.539);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#campaign-update-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    background-color: rgba(95, 95, 207, 0.539);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#campaign-update-div form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    font-size: 1.5rem;
}

.text-input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
}

.checkbox-container {
    margin: 10px 0;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 100%;
}
.checkbox-fieldset {
    width: 100%;
}

#campaign-update-div button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: rgba(95, 95, 207, 0.8);
    color: whitesmoke;
    cursor: pointer;
}