#campaign-home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#campaign-home-wrapper h1 {
    font-size: 3rem;
    margin: 1rem 0;
    color: whitesmoke;
    background-color: rgba(95, 95, 207, 0.539);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#campaign-home-wrapper ul {
    list-style: none;
    padding: 0;
}

#campaign-home-wrapper ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(95, 95, 207, 0.539);
    padding: 10px;
    margin: 10px 0;
    width: 500px;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
}

#campaign-home-wrapper ul li:hover {
    background-color: rgba(75, 75, 187, 0.539);
}

#campaign-home-wrapper button {
    width: 500px;
    margin: 10px 0;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: rgba(95, 95, 207, 0.539);
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.3s ease;
}