#character-home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#character-home-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    background-color: rgba(95, 95, 207, 0.539);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#character-home-div h1 {
    background-color: rgba(95, 95, 207, 0.539);
    font-size: 2rem;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}
#character-home-div ul {
    list-style: none;
    width: 100%;
}

#character-home-div li {
    margin: 10px 0;
    width: 100%;
    font-size: 1.5rem;
    background-color: rgba(95, 95, 207, 0.8);
    border-radius: 5px;
}

#character-home-div button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: rgba(95, 95, 207, 0.8);
    color: whitesmoke;
    cursor: pointer;
}